<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tabela Jquery</title>
<script src="jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>

</head>


<body>


<script language='text/javascript'>

$('#carrinho_modal').hide();

(function($) {


	excluirLinha = function(handler) {
    var tr = $(handler).closest('tr');

    tr.fadeOut(400, function(){ 
      tr.remove(); 
    }); 

    return false;
  };

})(jQuery);


function exibirCarrinho(){
	
	
	$('#carrinho_modal').show();
	
}


</script>

<a href='#' id="carrinho_icone" onclick='exibirCarrinho()'><img href='carrinho.jpg'></img></a>

<div id="carrinho_modal">
<h2>Lista de Produtos<h2></br>
<table border='1'>
<tr>
<td>
Nome
</td>
<td>
quantidade
</td>
<td>
Ação
</td>
</tr>
<tr>
<td>
Eu
</td>
<td>
123
</td>
<td>
<button  onclick="excluirLinha(this)"> Excluir </button>
</td>
</tr>

</table>
</div>
</body>
<html>